<div class="author_container">
  {{#author}}
  <div class="individual_author">
    <img src="" alt="pic of author" />

    <div class="author_info">
      <div class="author_heading">
        <h3>Name</h3>
        <div class="author_buttons">
          <input type="button" value="edit">
          <input type="button" value="remove">
        </div>
      </div>
      <p>description</p>
      <h5>Books</h5>
      <div class="author_book_container">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </div>

  </div>
  {{/author}}

</div>
