<div class="container">
  <div class="index_columns">
    <a href="/authors">
      <img src="../images/boxer.jpg" alt="boxer" />
      <h1>Authors</h1>
    </a>
  </div>
  <div class="index_columns">
    <a href="/books">
      <img src="../images/books.jpg" alt="bookstack" />
      <h1>Books</h1>
    </a>
  </div>
</div>
