<div class="container">
  <div class="authors">
    <img src="" alt="picture of author" />
    <h3><a href="/authors">Authors</a></h3>
  </div>
  <div class="books">
    <img src="" alt="picture of book" />
    <h3><a href="/books">Books</a></h3>
  </div>
</div>
