<!DOCTYPE html>
<html>
  <head>
    <title>Galvanize Reads</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <img src="../public/images/milktime.jpg" alt="logo" />
      <h1>Galvanize Reads</h1>
    </header>
    <div class="sidebar">
      <div class="sidebar_authors">
        <img src="" alt="picture of author" />
        <h3>Authors</h3>
      </div>
      <div class="sidebar_books">
        <img src="" alt="picture of book" />
        <h3>Books</h3>
      </div>
    </div>
    {{{body}}}
  </body>
</html>
