<!DOCTYPE html>
<html>
<head>
  <title>Galvanize Reads</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <a href="/">
      <img src="http://www.galvanize.com/wp-content/themes/galvanize/img/galvanize-g.svg" alt="logo" />
      <h1>Galvanize Reads</h1>
    </a>
    
  </header>
    {{{body}}}
</body>
</html>
