<div class="sidebar">
  <div class="sidebar_authors">
    <a href="/authors">
      <img src="../../images/boxer.jpg" alt="boxer" />
      <h3>Authors</h3>
    </a>
  </div>
  <div class="sidebar_books">
    <a href="/books">
      <img src="../../images/books.jpg" alt="bookstack" />
      <h3>Books</h3>
    </a>
  </div>
</div>

<div class="edit">
  <form class='edit' action="/authors/new" method="post">
    <label>First Name</label>
    <input type="text" name="first" value="">
    <label>Last Name</label>
    <input type="text" name="last" value="">
    <label>Portrait URL</label>
    <input type="text" name="img_url" value="">
    <label>Biography</label>
    <textarea name="bio" rows="6" value="">{{bio}}</textarea>
    <label>Books</label>

    <select class="" name="">
      {{#books}}
      <option value="{{title}}">{{title}}</option>
      {{/books}}
    </select>
    <button>
      <a href="/books/new">Or Add a New Book</a>
    </button>

    <input class="inputbutton" type="submit" value="Submit New Author">
  </form>
</div>
