body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  background: white;
}

header {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  font-family: frenchy;
  font-size: 22px;
}

.sidebar {
  position: fixed;
  margin-left: 15px;
  float: left;
  width: 180px;
  height: 100vh;
}

.sidebar img {
  width: 150px;
}

.sidebar a {
  text-decoration: none;
  color: black;
}

.sidebar h3 {
  margin: 0px;
  text-align: center;
  font-family: frenchy;
  font-size: 40px;
}

.sidebar_books, .sidebar_authors {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 52%;
}

header a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
  align-items: center;
}

header img {
  height: 50px;
  width: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.index_columns {
  width: 350px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px rgb(180, 180, 180)
}

.index_columns a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: frenchy;
  font-size: 20px;
}

.index_columns img {
  width: 300px;
  height: 300px;
}

.index_columns a {
  color: rgb(150, 37, 34);
  text-decoration: none;
}

.author_heading, .book_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.author_info, .book_info {
  width: 70%;
  padding: 15px;
}

.author_info h5 {
  margin: 0px;
}

.author_container, .book_container {
  padding: 30px;
  width: 70vw;
  float: right;
}

.individual_author, .individual_book {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 3px 3px black;
  background: rgba(0, 0, 0, .03);
}

.individual_book img {
  height: 250px;
  width: auto;
}

.individual_author img {
  max-width: 150px;
  max-height: 200px;
}

.border{
  margin-bottom: 30px;
}

.author_li, .book_line {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}

.edit {
  display: flex;
  flex-direction: column;
  width: 70vw;
  float: right;
  margin-right: 30px;
}

.edit input {
  margin-bottom: 15px;
}

.edit a {
  text-decoration: none;
  color: black;
}

.edit label, .inputbutton {
  margin-top: 15px;
}

.addbutton {
  margin-bottom: 15px;
}

.addbutton a {
  text-decoration: none;
  color: black;
}

.author_book_container li {
  list-style: none;
}

button, .inputbutton {
  background-color: white;
  border: 2px solid rgb(150, 37, 34);
  border-radius: 5px;
  border-style: ridge;
}

button:hover, .inputbutton:hover {
  background: rgb(150, 37, 34);
  color: white;
}

.name {
  color: rgb(150, 37, 34);
}

.name:hover {
  color: red;
}
