body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.page_body{
  display: flex;
  flex-direction: row;
}

header {
  display: flex;
  flex-direction: row;
}

header img {
  height: 50px;
  width: 50px;
}

.container {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.index_columns a {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index_columns img {
  width: 300px;
  height: 300px;
}

.index_columns a {
  color: gray;
  text-decoration: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 10vw;
  justify-content: space-between;
  margin-right: 15px;
}

.sidebar_authors, .sidebar_books {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.sidebar a {
  text-decoration: none;
  color: rgb(29, 48, 89);
}

.sidebar_authors {
  background: rgb(128, 128, 128);
}

.sidebar_authors img, .sidebar_books img {
  width: 80%;
}

.sidebar_authors h3, .sidebar_books h3 {
  transform: rotate(270deg);
}

.author_heading, .book_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.author_book_container  {
  border: 1px solid black;
}

.author_info, .book_info {
  width: 70%;
  padding: 15px;
}

.author_info h5 {
  margin: 0px;
}

.author_container, .book_container, {
  padding: 30px;
  width: 80vw;
}

.individual_author, .individual_book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.individual_book img {
  height: 250px;
  width: auto;
}

.individual_author img {
  height: 200px;
  width: auto;
}

.author_li, .book_line {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}

.edit {
  display: flex;
  flex-direction: column;
  width: 80vw;

}

.edit input {
  margin-bottom: 15px;
}
